body {
  background: #242424 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  margin: 20px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: block;
  max-width: 1000px;
  width: 100%;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer {
  margin: 10px;
  width: 300px;
}

.grid-item {
  float: left;
  background: #FFFFFF;
  margin: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-item img {
  display: block;
  max-width: 100%;
}
